	<!-- Remote clients management dialog -->
	<UiDialog :open="showRemoteClientsDialog" title="Connected Clients" @close="showRemoteClientsDialog = false" variant="clients">
		<template #title>Connected Clients</template>

		<UiEmptyState v-if="remoteClients.length === 0" variant="remote-clients">
			No clients connected
		</UiEmptyState>
		<div v-else class="remote-client-list">
			<div v-for="client in remoteClients" :key="client.id" class="remote-client-item">
				<div class="remote-client-info">
					<div class="remote-client-id">{{ client.id.substring(0, 12) }}</div>
					<div class="remote-client-meta">
						<span v-if="client.country" class="remote-client-country">{{ client.country }}</span>
						<span v-if="client.firstFreq !== null" class="remote-client-freq">{{ formatFreq(client.firstFreq) }} MHz</span>
						<span class="remote-client-vfos">{{ client.vfoCount }} VFO{{ client.vfoCount !== 1 ? 's' : '' }}</span>
						<span v-if="client.isRelay" class="remote-client-relay">RELAY</span>
					</div>
					<div class="remote-client-duration">Connected {{ remoteClientDuration(client.connectedAt) }}</div>
				</div>
				<UiButton variant="kick" @click="kickRemoteClient(client.id)">Kick</UiButton>
			</div>
		</div>

		<template #footer>
			<UiButton @click="showRemoteClientsDialog = false">Close</UiButton>
		</template>
	</UiDialog>

